@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu+Mono&display=swap');


hr{border-width: 2px;
    border-color: gray;
}
sup{font-weight: 100;
    font-size: 16px;
    font-weight: light;
}
.container-main{
    max-width: 600px;
    text-align: center;
    margin-top: 4%;
    font-family: 'Ubuntu Mono', monospace;
}

.container-sub img{height: 200px;
    width: 200px;
}
.container-sub h1{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.summary{
    font-size: 18px;
}
.main-icons a{
    /* padding: 1% 15%; */
    width: 100%;
}

.cta{
    /* margin-bottom: 10%; */
    font-size: 18px;
}
.enquiry a{color: black;}
#contact{text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 600px)  {
    .cta button{margin-top: 5%;}
}